<% provide(:title, 'hi.hello.reid') %>
<!-- Side Menu -->
<a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="fa fa-bars"></i></a>
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand"><%= link_to 'hi.hello.reid', root_path %></li>
    <li><a href="#top">Home</a></li>
    <li><a href="#hello">Hello</a></li>
    <li><a href="#resume">Resume</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#social">Social</a></li>
  </ul>
</div>
<!-- /Side Menu -->

<!-- Full Page Image Header Area -->
<div id="top" class="header">
  <div class="vert-text">
    <h1>hi.hello.reid</h1><br>
    <a href="#hello" class="btn btn-default btn-lg">hello!</a>
  </div>
</div>
<!-- /Full Page Image Header Area -->

<!-- Hello -->
<div id="hello" class="hello">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2><p class="lead">I'm a Brooklyn based Perl and Ruby developer with extensive experience in an open source environment, processing large data volumes, implementing new web applications, and managing client accounts. In my spare time, I'm an avid runner and traveler.</p></h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-3 text-center">
        <div class="hello-item">
          <i class="hello-icon fa fa-rocket"></i>
          <h4>Web Tech</h4>
          Perl/Catalyst<br>
          Ruby/Rails<br>
          CSS (Bootstrap)<br >
          Javascript (JQuery)<br>
          JSON<br>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="hello-item">
          <i class="hello-icon fa fa-fighter-jet"></i>
          <h4>Data Storage</h4>
          PostGreSQL<br>
          MongoDB<br>
          SQL*Loader<br>
          BerkeleyDB<br>
          CDB<br>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="hello-item">
          <i class="hello-icon fa fa-plane"></i>
          <h4>Deployment/Tools</h4>
          AWS (EC2, S3)<br>
          Heroku<br>
          Git<br>
          Subversion<br>
          Puppet<br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center hello-item">
        <a href="#resume" class="btn btn-default btn-lg">resum&eacute</a>
      </div>
    </div>
  </div>
</div>
<!-- /Hello -->

<!-- Resume -->
<div id="resume" class="resume">
  <div class="container">
    <div class="platform">
      <div class="resume_header">
        <div class="row">   
          <div class="col-md-2">
            <%= image_tag('reid_diabeacon.jpg', class: "image-polaroid")%>
          </div>
        
          <div class="col-md-3">
            <div class="name-text">Reid Collins</div>
            <div class="major-text"><i>Software Developer</i></div>            
          </div>

          <div class="col-md-4 pull-right">
            <address class="margin-bottom-5">
              Brooklyn, NY 11222
            </address>              
          
            <abbr rel="tooltip" data-original-title="Phone">P</abbr>:&nbsp;&nbsp;
              <a href="tel:646-250-2869">646-250-2869</a><br>
            <abbr rel="tooltip" data-original-title="Email">E</abbr>:&nbsp;&nbsp;
              <a href="mailto:hihelloreid-resume@gmail.com">hihelloreid@gmail.com</a><br>
            <abbr rel="tooltip" data-original-title="Web">W</abbr>:&nbsp;&nbsp;
              <a href="http://www.hihelloreid.com" target="_blank">www.hihelloreid.com</a><br>

            <ul class="list-inline">
              <li>
                <%= link_to "<i class='fa fa-github'></i>".html_safe,
                 'https://www.github.com/reidcollins', target: "_blank", title: "Github", rel: "tooltip" %>
              <li>
                <%= link_to "<i class='fa fa-linkedin'></i>".html_safe,
                 'http://www.linkedin.com/in/reidcollins', target: "_blank", title: "Linkedin", rel: "tooltip" %>
              </li>
              <li>
                <%= link_to "<i class='fa fa-facebook'></i>".html_safe,
                 'https://www.facebook.com/reid.collins.73', target: "_blank", title: "Facebook", rel: "tooltip" %>
              </li>
              <li>
                <%= link_to "<i class='fa fa-twitter'></i>".html_safe,
                 'https://twitter.com/helloreid', target: "_blank", title: "Twitter", rel: "tooltip" %>
              </li>
            </ul>

            <ul class="list-inline">
              <li>
                <%= link_to "<i class='fa fa-download'></i>".html_safe,
                 '/resume/reidcollins.pdf', title: "Download PDF", rel: "tooltip" %>
              </li>
              <li>
                <%= link_to "<i class='fa fa-cloud-download'></i>".html_safe,
                 '/resume/reidcollins.doc', title: "Download DOC", rel: "tooltip" %>
              </li>
            </ul>

          </div>
        </div>
      </div>

      <div class="resume_main">    
        <div class="row">
          <div class="col-md-2 pull-left">
            <b>Objective</b>
          </div>
              
          <div class="col-md-10 pull-right">
            I am a skilled software developer that equally enjoys writing efficient code and interacting with clients/stakeholders to build a better product. I have extensive development experience in an open source Agile environment, processing large data volumes, implementing new web applications, and managing client accounts.
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-2 pull-left">
            <b>Languages</b>
          </div>
          <div class="col-md-10 pull-left">
            Perl, Ruby, bash
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 pull-left">
            <b>Operating Systems</b>
          </div>
          <div class="col-md-10 pull-left">
            Linux, Unix, OSX
          </div>
        </div>


        <div class="row">
          <div class="col-md-2 pull-left">
            <b>Web Technologies</b>
          </div>
          <div class="col-md-10 pull-left">
            Perl w/ Catalyst, Ruby on Rails, Javascript (jQuery), HTML5/CSS3 (Bootstrap), AJAX, JSON, XML
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 pull-left">
            <b>Data Storage</b>
          </div>
          <div class="col-md-10 pull-left">
            MySQL, SQL*Loader, Postgres, MongoDB, BerkeleyDB, CDB
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 pull-left">
            <b>Deployment/Tools</b>
          </div>
          <div class="col-md-10 pull-left">
            Heroku, AWS (EC2 & S3), Git, Subversion, Puppet, tinydns, Bind, pound
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 pull-left">
            <b>Testing</b>
          </div>
          <div class="col-md-10 pull-left">
            Agile BDD/TDD with Cucumber and RSpec, Test::Unit
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-2 pull-left">
            <b>Work Experience</b>
          </div>

          <div class="col-md-4 pull-left">
              <div class=""><b>Experian Cheetahmail</b></div>
              <div class="item-desc">Software Developer: Dev Team</div>
          </div>  
            
          <div class="col-md-2 pull-right">
            <b>2011 - Present</b>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10 col-md-offset-2 pull-left">
            <ul>
              <li>
                Speed reporting of email marketing campaigns by utilizing SQL*Loader to load high volume ad click/transaction data fles into the database. Critical feature for account teams to speed subsequent campaigns.
              </li>
              <li>
                Implement Memcached to speed application performance. Work with database team to identify common bottlenecks, introducing Memcached to reduce the number of database queries.
              </li>
              <li>
                Audit application for potential cross site scripting vulnerabilities and fix where needed. Work closely with Cheetahmail's financial clients to address their specific concerns preventing contract renewals.
              </li>
              <li>
                Liaise with QA engineers and Release teams to devise tests for software rollouts and fxed bugs when necessary. Assist in diferentiating between code bugs and irregularities in virtual test environments.
              </li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 col-md-offset-2 pull-left">
            <b>Experian Cheetahmail</b><br>
            <div class="item-desc">Software Developer: Client Dev Team</div>
          </div> 
          <div class="col-md-2 pull-right">
            <b>2008-2011</b>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10 col-md-offset-2 pull-left">
            <ul>
              <li> 
                Design and implement remarketing campaigns for clients. Build automated import processes that parse client datafeeds from Coremetrics, Google Analytics, and Omniture to capture abandoned cart users, browsing customers, etc...
              </li>
              <li>
                Build automated process to convert customer's nightly inventory feeds from text or XML fles into a usable CDB or BerkeleyDB. Contents of these databases could then be dynamically inserted into mailing content via Cheetahmail API.
              </li>
              <li>
                Create automated scrubbing process, cleaning incoming data fles against know spam traps, role addresses, and abuse addresses
              </li>
              <li>
                Integration of client data imports/exports. Work closely with clients to design and implement customized solutions, aggregating performance metrics on a daily, weekly, monthly, or quarterly basis to synch with client or 3rd party database.
              </li>
              <li>
                Attend sales calls to explain complex technical/issues to prospective clients. Onboard new clients and assist with the integration of Cheetahmail's API suite.
              </li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 col-md-offset-2 pull-left">
            <b>Experian Cheetahmail</b><br>
            <div class="item-desc">Software Engineer: Operations Team</div>
          </div> 
          <div class="col-md-2 pull-right">
            <b>2005-2008</b>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10 col-md-offset-2 pull-left">
            <ul>
              <li>
                24 x 7 application and systems support (rotating on-call schedule). Responsible for supporting 750+ clients. Coordinate emergency outage response/recovery teams. Work with client services and clients to address all application related issues in an expedient manner.
              </li>
              <li>
                Respond to bug reports, providing 1st, 2nd, and 3rd tier support to clients and client services. Provide bug fxes or alternative solutions for clients highly sensitive to revenue loss.
              </li>
              <li>
                Write one-of scripts to transform incoming client data into a usable format for the Cheetahmail database</li>
              <li>
                Analyze and enhance queries for slow mailing campaigns segment counts.
              </li>
              <li>
                Manage dns for 1200 domains delegated to Cheetahmail. Assist client's with confguration and help manage XML framework that centrally builds dns zone fles for distribution across six name servers.
              </li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 col-md-offset-2 pull-left">
            <b>Experian Cheetahmail</b><br>
            <div class="item-desc">Client Relationship Manager: Client Services Team</div>
          </div> 
          <div class="col-md-2 pull-right">
            <b>2001-2005</b>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10 col-md-offset-2 pull-left">
            <ul>
              <li>
                Manage 25+ clients from multiple verticals including catalog, fnancial, multi-channel retail, publishing, telecommunications, and travel.
              </li>
              <li>
                Manage production and strategy for top clients. Coordinate email marketing campaigns with client's other media (television, direct mail, web banner) initiatives.
              </li>
              <li>
                Enhance mailing content to bolster subscriber response, increasing click, open, and transaction rates.
              </li>
              <li>
                Help grow and maintain client subscriber lists by setting up registration forms, e-append, and viral marketing campaigns. Assist client in implementing Cheetahmail form coding to seamlessly capture data from client website.
              </li>
              <li>
                Attend sales calls with Cheetahmail sales team, demonstrating application to clients and felding technical questions. Participate in contract renewals (100% retention rate).
              </li>
            </ul>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-2 pull-left">
            <b>Education</b>
          </div>
          <div class="col-md-8 pull-left">
            Bachelor of Arts, Tulane University, 05/1998<br>
            Major: International Relations
          </div>
          <div class="col-md-2 pull-right">
            <a href="#resume"><i class='fa fa-arrow-up'></i></a>
          </div>
        </div>
      </div> <!-- /main -->
    </div> <!-- /container -->    
  </div>
</div>
<!-- /Resume -->

<!-- ContactForm -->
<div id="contact" class="hello">
  <div class="inner-page">
    <h2 class="page-headline">Let's connect!</h2>
  </div>
  
  <div class="row inner-page contact">
    <div class="col-md-6 col-md-offset-1">
      <div class="form-group">
        <%= form_for @client, remote: true, :'data-update-target' => "client_update", html: { id: 'contact-form' } do |f| %>
          <%= f.text_area :message, rows: 6, class: "form-control", placeholder: "how can i help you?" %>
          <%= f.text_field :email, class: "form-control", placeholder: "you@email.com" %>
          <%= f.text_field :fname, class: "form-control", placeholder: "first name" %>
          <%= f.text_field :lname, class: "form-control", placeholder: "last name" %>
          <%= f.text_field :phone, class: "form-control", placeholder: "phone" %>
          <%= f.text_field :url,   class: "form-control", placeholder: "website" %>
          <%= f.submit "message me!", class: "btn btn-primary btn-centered" %>
          <!%= render 'shared/error_messages', object: @client %>
        <% end %>
      </div>
    </div>
    <div class="col-md-5 pull-left" id="form_status">
      <!-- <img src="envelope.jpg"> -->
      <%= image_tag('russia_envelope_smaller.jpg', class: "image-rounded") %> 
    </div>
    </div>
  </div>
</div>



<!-- Footer -->
<footer>
<div id="social" class="container">
  <div class="row text-center">
    <div class="col-md-6 col-md-offset-3 text-center">
      <ul class="list-inline">
        <li>
          <%= link_to "<i class='fa fa-github fa-3x'></i>".html_safe,
           'https://www.github.com/reidcollins', target: "_blank", title: "Github", rel: "tooltip" %>
        <li>
          <%= link_to "<i class='fa fa-linkedin fa-3x'></i>".html_safe,
           'http://www.linkedin.com/in/reidcollins', target: "_blank", title: "Linkedin", rel: "tooltip" %>
        </li>
        <li>
          <%= link_to "<i class='fa fa-facebook fa-3x'></i>".html_safe,
           'https://www.facebook.com/reid.collins.73', target: "_blank", title: "Facebook", rel: "tooltip" %>
        </li>
        <li>
          <%= link_to "<i class='fa fa-twitter fa-3x'></i>".html_safe,
           'https://twitter.com/helloreid', target: "_blank", title: "Twitter", rel: "tooltip" %>
        </li>
      </ul>
      <p>&copy; hihelloreid llc 2013</p>
    </div>
  </div>
</div>
</footer>