<!DOCTYPE HTML>
<html>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    </head>

  <body style="background: #7fbbda;padding: 50px 0;color: #ffffff;">

    <p><b>New client contact:</b></p>

    <ul style="list-style-type: none; margin: 0;padding: 0;">
      <li>fname: <%= @client.fname %></li>
      <li>lname: <%= @client.lname %></li>
      <li>email: <%= @client.email %></li>
      <li>phone: <%= @client.phone %></li>
      <li>website: <%= @client.url %></li>
      <li><br></li>
      <li>message: <%= @client.message %></li>
    </ul>

  </body>
</html>