<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <meta charset="utf-8">
  <meta author="reid collins">
  <meta content='Ruby, Rails, Ruby on Rails, backend developer, ruby on rails developer, new york city developer, new york ruby on rails, backend rails developer' name='description'>
  <meta content='ruby web development, ruby developer, ruby programmer, ruby programmers, ruby application development, ruby software development, ruby freelance, ruby consultant, web applications software, job ruby, ruby job, rails programmers, ruby software, software ruby, rails web application, ruby applications, rails web development, ruby on, ruby programing, programming ruby, ruby programming, ruby language' name='keywords'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="geo.region" content="US-NY" />
  <meta name="geo.position" content="40.729788;-73.956003" />
  <meta name="ICBM" content="40.729788, -73.956003" />
  <meta content='index,follow' name='robots'>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
